@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1440px;
    margin: auto;
}

*{
    margin: 0;
    padding: 0;
}

.center {
    margin-left: 120px;
    margin-right: 120px;
}

.header {
    height: 1024px;
    background-image: url(img/headerBody1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;

    &__block {

        &_ferst {
        max-width: 788px;
        font-size:  64px;
        line-height: 78px;
        color: #ffffff;
        padding-top: 271px;
    }

    &_text {
       max-width: 481px;
        padding-top: 32px;
        font-size: 18px;
        line-height: 32px;
        
        color: #ffffff;
    }

    &_btn {
        margin-top: 44px;
        width: 234px;
        height: 49px;
        border: none;
        border-radius: 30px;
        background-color: #9C0332;
        color: #ffffff;
        font-size: 18px;
        line-height: 22px;
        

        &:hover {
            background-color: #EB443F;
        }
    }
}
    
}


.choice {
    
    padding-bottom: 128px;
    padding-top: 128px;
    background-color: #000915;
    
  

    &__all {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }
   

    &__block {
        
        position: relative;
        border-radius: 16px;
        border:rgba(39, 1, 15, 0)  0%
        #001944  100%;

        &_foto {            
             
            width: 100%;
            box-sizing: border-box;

            &:hover {
            outline: 3px solid #44D2FF;
            box-sizing: border-box; 
            border-radius: 16px;  
           
            margin: 0px;
                      
            }

        }

        &_text {
            position:absolute;
            bottom: 32px;
            left: 32px;
            font-weight: 600;
            width: 84px;
            height: 31px;
            font-size: 24px;
            line-height: 32px;
            color: #ffffff;
           
       }
     
      }
 }
    


.first {
    background-color: #000915;
    

    &__game {
    
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding-top: 233px;
        padding-bottom: 233px;
    

        &_block {
            width: 584px;
                    
        }

        &_head {
            color: #ffffff;
            font-size: 48px;
        }

        &_text {
            font-size: 18px;
            color: #ffffff;
            padding-top: 32px;
        }

        &_foto {
            width: 379px;
            height: 333px;
            object-fit: contain;
        }

        &_btn {
            margin-top: 44px;
            width: 234px;
            height: 49px;
            border: none;
            border-radius: 30px;
            background-color: #9C0332;
            
            
            
            &:hover {
                background-color: #EB443F;
            }
        }
        &_link {
            color: #ffffff;
            text-decoration: none;
            font-size: 18px;
            line-height: 22px;
        }
}
}

.two {
    background-color: #000915;

    &__game_foto {
        width: 379px;
        height: 333px;
        object-fit: contain;
    }

    &__game {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding-top: 233px;
        padding-bottom: 233px;
    }

    &__game_block {
        width: 584px;
    }

    &__game_head {
        color: #ffffff;
        font-size: 48px;
    }
    
    &__game_text {
        font-size: 18px;
        color: #ffffff;
        padding-top: 32px;
        
    }

    &__game_btn {
        margin-top: 44px;
        width: 234px;
        height: 49px;
        border: none;
        border-radius: 30px;
        background-color: #9C0332;
        
            
            &:hover {
                background-color: #EB443F;
            }
    }

    &__game_link {
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        line-height: 22px;
    }
}



@import 'media'

