@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  max-width: 1440px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
}

.center {
  margin-left: 120px;
  margin-right: 120px;
}

.header {
  height: 1024px;
  background-image: url(img/headerBody1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}
.header__block_ferst {
  max-width: 788px;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  padding-top: 271px;
}
.header__block_text {
  max-width: 481px;
  padding-top: 32px;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.header__block_btn {
  margin-top: 44px;
  width: 234px;
  height: 49px;
  border: none;
  border-radius: 30px;
  background-color: #9C0332;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
}
.header__block_btn:hover {
  background-color: #EB443F;
}

.choice {
  padding-bottom: 128px;
  padding-top: 128px;
  background-color: #000915;
}
.choice__all {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.choice__block {
  position: relative;
  border-radius: 16px;
  border: rgba(39, 1, 15, 0) 0% #001944 100%;
}
.choice__block_foto {
  width: 100%;
  box-sizing: border-box;
}
.choice__block_foto:hover {
  outline: 3px solid #44D2FF;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0px;
}
.choice__block_text {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-weight: 600;
  width: 84px;
  height: 31px;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.first {
  background-color: #000915;
}
.first__game {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 233px;
  padding-bottom: 233px;
}
.first__game_block {
  width: 584px;
}
.first__game_head {
  color: #ffffff;
  font-size: 48px;
}
.first__game_text {
  font-size: 18px;
  color: #ffffff;
  padding-top: 32px;
}
.first__game_foto {
  width: 379px;
  height: 333px;
  -o-object-fit: contain;
     object-fit: contain;
}
.first__game_btn {
  margin-top: 44px;
  width: 234px;
  height: 49px;
  border: none;
  border-radius: 30px;
  background-color: #9C0332;
}
.first__game_btn:hover {
  background-color: #EB443F;
}
.first__game_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

.two {
  background-color: #000915;
}
.two__game_foto {
  width: 379px;
  height: 333px;
  -o-object-fit: contain;
     object-fit: contain;
}
.two__game {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 233px;
  padding-bottom: 233px;
}
.two__game_block {
  width: 584px;
}
.two__game_head {
  color: #ffffff;
  font-size: 48px;
}
.two__game_text {
  font-size: 18px;
  color: #ffffff;
  padding-top: 32px;
}
.two__game_btn {
  margin-top: 44px;
  width: 234px;
  height: 49px;
  border: none;
  border-radius: 30px;
  background-color: #9C0332;
}
.two__game_btn:hover {
  background-color: #EB443F;
}
.two__game_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 1440px) {
  .center {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (max-width: 1334px) {
  .center {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 1322px) {
  .first__game {
    display: flex;
    flex-direction: column;
  }
  .first__game_block {
    width: none;
    padding-bottom: 64px;
  }
  .two__game {
    display: flex;
    flex-direction: column;
  }
  .two__game_block {
    width: none;
    padding-bottom: 64px;
  }
}
@media (max-width: 1262px) {
  .center {
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (max-width: 1244px) {
  .choice__all {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 132px;
  }
  .choice__block_foto {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .header__block_ferst {
    font-size: 32px;
    line-height: 39px;
  }
  .choice__all {
    gap: 32px;
  }
  .choice__block_foto {
    width: 343px;
  }
}
@media (max-width: 610px) {
  .header__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__block_ferst {
    text-align: center;
  }
  .header__block_text {
    text-align: center;
  }
  .first__game_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .first__game_head {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
  }
  .first__game_text {
    width: 343px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .first__game_foto {
    width: 100%;
  }
  .two__game_block {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .two__game_head {
    text-align: center;
    font-size: 32px;
    line-height: 39px;
  }
  .two__game_text {
    width: 343px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .two__game_foto {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */